
<md-content layout-xs="column" layout="row">
  <div flex-xs="100" flex="60" layout="column">
    <md-card class="default-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Library Search</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          LibrarySearch also helps you manage your research.<br>
          Sign-in in order to:
        </p>
        <p>
          <ul>
            <li>Request library items (via Interlibrary Loan, Summit, or between UO library locations)</li>
            <li>Access resources available only to current students, staff, or faculty</li>
            <li>Add items or save your search to your "My Lists" for future use</li>
            <li>Set alerts for your search</li>
          </ul>
        </p>
      </md-card-content>
    </md-card>
  </div>
  <div flex-xs="100" flex="40" layout="column">
    <md-card class="default-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Questions</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          <a href="https://library.uoregon.edu/ask">Ask a Librarian</a> how to start your research
        </p>
      </md-card-content>
    </md-card>
    <md-card class="default-card">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Quicklinks</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          <a href="https://researchguides.uoregon.edu/usinglibrarysearch">LibrarySearch Help</a>
        </p>
        <p>
          <a href="https://library.uoregon.edu/librarysearch-known-issues">Known Issues</a>
        </p>
        <p>
          <a href="https://researchguides.uoregon.edu/usinglibrarysearch#s-lg-box-19119757">What am I searching?</a>
        </p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
