
<md-content layout-xs="column" layout="row">
    <div flex="100" layout="column">
        <md-card class="default-card">
            <md-card-content>
              <p>
                  The UO Libraries' online catalog interface called LibrarySearch has changed to a new, upgraded version.
              </p>
              <p>
                  Some of the benefits of the new LibrarySearch interface include:
                  <ul>
                      <li>Enhanced usability (based on users' feedback and results of user studies performed by the vendor)</li>
                      <li>Responsive, mobile-friendly design</li>
                      <li>Improved accessibility, i.e., compliance with relevant standards such as Section 508 and WCAG 2.0 AA</li>
                      <li>Modern design; less cluttered</li>
                      <li>Corrected functionality for saving items to personal lists.</li>
                  </ul>
              </p>
            </md-card-content>
        </md-card>
    </div>
</md-content>
