
<md-content layout-xs="column" layout="row">
    <div flex="100" layout="column">
        <md-card class="default-card">
            <md-card-content>
              <p>
                  The UO Libraries' online catalog interface called LibrarySearch will change to a new, upgraded version on Monday, August 20, 2018.
              </p>
              <p>
                  Some of the benefits of the new LibrarySearch interface include:
                  <ul>
                      <li>Enhanced usability (based on users' feedback and results of user studies performed by the vendor)</li>
                      <li>Responsive, mobile-friendly design</li>
                      <li>Improved accessibility, i.e., compliance with relevant standards such as Section 508 and WCAG 2.0 AA</li>
                      <li>Modern design; less cluttered</li>
                      <li>Corrected functionality for saving items to personal lists.</li>
                  </ul>
              </p>
              <p>
                  As you may recall, during Fall 2017 term, the UO Libraries launched a test/beta version of the new “LibrarySearch” interface alongside the current user interface.
                  The beta afforded the Libraries the opportunity to explore, test, and receive feedback on the new interface.
                  The target date for the switchover to the new user interface was originally mid-December 2017, but when testing revealed several “showstoppers,” the Libraries made the decision to postpone the go-live date to Summer 2018 term.
                  Now, our testing of the latest upgrade has been successful and we are confident that the changes improve the system’s functionality and usability.
                  We hope you will agree once the new system is in place.
              </p>
            </md-card-content>
        </md-card>
    </div>
</md-content>
