<button class="zero-margin flex-button align-self-stretch md-button md-primoExplore-theme md-ink-ripple layout-align-center-center layout-column" type="button" tabindex="0" role="listitem" layout="column" layout-align="center center"
  ng-if="pCtrl.showCount() == 0" (click)="pCtrl.disableMobileMenu()" id="more-links-button" translate-attr-title="mainmenu.label.moreoptions">
  <span class="item-content" aria-label="More Options" translate-attr-title="mainmenu.label.moreoptions">
    <prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="dots-horizontal">
    </prm-icon>
  </span>
  <div class="md-ripple-container" style=""></div>
</button>
<prm-icon icon-type="svg" svg-icon-set="primo-ui" icon-definition="sign-in"></prm-icon>
