/* IE fix tall results */
div.media-content-images,
div.list-item-wrapper,
div#mainResults > div {
	height: 100%;
}

/* IE fix nav links position */
prm-main-menu[menu-type=menu] {
	flex-basis: auto !important;
}

/* Fix Non-Chrome Search Bar pushing prmSearchBarAfter */
prm-search-bar .layout-fill {
	min-height: 0;
	height: auto;
}

/* Fix search bar flex box */
.__lgPlus prm-search-bar .search-wrapper.layout-row>div[flex]:first-of-type, .__lgPlus prm-search-bar .search-wrapper>div[flex]:first-of-type {
	flex: 1 1 20%;
	max-width: 20%;
}
.__lgPlus prm-search-bar .search-wrapper.layout-row>div.layout-row>div[flex].flex-lgPlus-55, .__lgPlus prm-search-bar .search-wrapper>div.layout-row>div[flex].flex-lgPlus-55 {
	flex: 1 1 80%;
	max-width: 80%;
}
prm-atoz-search-bar, prm-browse-search-bar, prm-newspapers-search-bar, prm-search-bar, prm-tags-search-bar {
	padding-left: .85em;
}
@media screen and (max-width: 599px) {
	prm-atoz-search-bar, prm-browse-search-bar, prm-newspapers-search-bar, prm-search-bar, prm-tags-search-bar {
		padding: 0;
	}
	prm-search-bar .search-wrapper.layout-row>div[flex]:first-of-type {
		padding-left: .85em;
	}
}
.simple-mode a {
	color:#ffdd00;
}
prm-search-bar .search-wrapper.layout-row>div[flex]:first-of-type div {
	font-size: 2.5em;
}

/* Fix user menu not displaying more options ellipse on sm breakpoint */
prm-user-area .user-menu-button {
	width: unset;
}

/* fix sign in not displaying inline */
#changUserStatus div {
	display: inline-block;
}
/* fix user menu arrow placement */
.md-button.button-with-menu-arrow .menu-arrow:after {
    display: inline-block;
    top: 1px;
}


/* Remove extra menu bar items in extremely small screens */
@media screen and (max-width: 420px) {
	prm-search-bookmark-filter.view-switcher {
		display: none;
	}
}

/* Fix menu pop-over overlapping "signed in as" label */
.__sm prm-main-menu[menu-type=full] div.prm-user-menu-content + div.settings-container {
	margin-top: 2.5em;
}

/* Fix advanced search year box not looking editable */
div.date-range-inputs > md-input-container:nth-of-type(3) {
	margin-left: .5em;
}
